.end{
    text-align: center;    
}
.perant{  
    text-align: center;
}
.ResultsSymbolC1 {
    color: green;
    font-size: 50px;
}

.ResultsSymbolInC1{
    color: red;
    font-size: 50px;
}

.ResultsCount1{
    font-size: 50px;
}